@font-face {
  font-family: Montserrat;
  src:
    url('../fonts/montserrat/montserrat-regular.eot'), /* IE9 Compat Modes */
    url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-regular.svg') format('svg'); /* iOS devices */
  font-weight: normal;
  font-style: normal;
}
